<%= render 'top', article: @most_voted %>
<section class = 'articles'>
  <% @categories.each do |category| 
  article = show_articles(category) %>
    <% if !article.nil? %>
      <div class = 'p-2 position-relative'
      style = "background: linear-gradient(to bottom, rgba(0,0,50,0), rgba(0,0,50,0), 
        rgba(0,0,50,0), rgba(0,0,50,.3), rgba(0,0,50,1)), 
        no-repeat center/auto  url('<%= article.image %>')">
        <ul class = 'd-flex list-unstyled'>
            <li class = 'ml-2'>
              <%= link_to  category.name, category_articles_path(category.id), 
            class: 'text-white font-weight-bold' %>
            </li>
        </ul>
        <span class = 'article-title-mini text-white position-absolute'>
          <%= link_to  article.title, article_path(article.id), 
            class: 'text-white font-weight-bold' %>
        </span>
        <%= render 'editbutton', article: article %>
      </div>
    <% end %>
  <% end %>
</section>