<div class = 'form'>
  <%= form_for @user do |f| %>
    <div class = 'errors'>
      <%= display_errors(@user) %>
    </div>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
    <%= f.label :username, 'Username' %>
    <%= f.text_field :username %>
    <%= f.submit %>
  <% end %>
</div>