<nav class = 'd-flex align-items-baseline'>
  <div class = 'col-3 d-flex d-md-none position-absolute hamburguer-menu'>
    <div class="pos-f-t">
      <div class="navbar navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" 
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-4">
          <ul class = 'list-unstyled align-items-baseline'>
            <%= render 'categories/categories' %>
            <%= render 'layouts/session' %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class = 'col justify-content-center d-flex'>
    <%= link_to image_tag("logos/logo.png", class: 'logo'), root_path %>
  </div>
  <div class = 'col-3 col-md-5 font-weight-bold d-none d-md-flex justify-content-center'>
    <ul class = 'list-unstyled d-flex align-items-baseline'>
      <%= render 'categories/categories' %>
    </ul>
  </div>
  <div class = 'd-none d-md-flex col-3 font-weight-bold justify-content-end align-content-baseline'>
    <ul class = 'list-unstyled d-flex'>
      <%= render 'layouts/session' %>
    </ul>
  </div>
  <div class = 'col-3 col-md-1'>
    <%= form_tag 'search', {method: :get} do %>
      <%= text_field_tag 'article[title]', '', class: 'form-control border-0 position-relative' %>
      <button type = 'submit' class = 'search position-absolute'> 
         <i class="fa fa-search text-gray" style="font-size:20px">
      </i>
    <% end %>
    
  </div>
</nav>