<!DOCTYPE html>
<html>
  <head>
    <title>LifestyleArticle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = 'd-flex p-4 bg-light sticky-top'>
      <nav class = 'col-12'>
        <div class = 'd-flex justify-content-end'>
          <% if session[:current_user].nil? %>
            <div class = 'col-3 font-weight-bold'><%= link_to  "LOG-IN", login_path %></div>
          <% else %>
            <div class = 'col-3 font-weight-bold'>
              <%= session[:current_user]['name'] if session[:current_user] %>   
            </div>
            <div class = 'col-3'>
              <%= link_to  "LOG-OUT", logout_path %>
            </div>
          <% end %>
          <div class = 'col-3 font-weight-bold'><%= link_to  "REGISTER", new_user_path %></div>
        </div>
      </nav>
    </header>
    <% flash.each do |type, msg| %>
      <div class = 'p-3 mb-2 bg-light text-dark d-flex justify-content-center'>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
